body {
  margin: 0;
  font-family: monospace;
  background: white;
  color: black;
}

.vim-help-container {
  padding: 20px;
}

h2 {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 6px 12px;
  background: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.esc-to-close {
  margin-top: 20px;
  text-align: center;
  color: #aaa; /* Faded text color */
  font-size: 0.9em;
}
